In [16]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer
# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

In [17]:
df = pd.read_csv("hotel2.csv")
df.head(10)

/Users/reyesaltozano/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,0
0,Resort Hotel,False,342,2015,July,27,1,0,0,2,0,0,BB,PRT,NaN,Direct,0,0,0,C,C,3,0,0,0,Transient,0,0,0,Check-Out,2015-07-01 00:00:00,NaN
1,Resort Hotel,False,737,0,July,27,1,0,0,2,0,0,BB,NaN,NaN,Direct,0,0,0,NaN,C,4,0,0,0,Transient,0,0,0,Check-Out,2015-07-01 00:00:00,NaN
2,Resort Hotel,False,7,2015,July,27,1,0,1,1,0,0,BB,GBR,NaN,Direct,0,0,0,A,C,0,0,0,0,Transient,75,0,0,Check-Out,2015-07-02 00:00:00,NaN
3,Resort Hotel,False,13,0,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,304,0,0,Transient,75,0,0,Check-Out,2015-07-02 00:00:00,NaN
4,Resort Hotel,False,14,0,July,0,1,0,2,2,0,0,BB,NaN,Online TA,TA/TO,0,0,0,A,A,0,240,0,0,Transient,98,0,1,Check-Out,2015-07-03 00:00:00,NaN
5,Resort Hotel,False,14,0,July,27,1,0,2,2,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,240,0,0,NaN,98,0,1,Check-Out,2015-07-03 00:00:00,NaN
6,Resort Hotel,False,0,2015,July,0,1,0,2,2,0,0,BB,NaN,Direct,Direct,0,0,0,C,C,0,0,0,0,NaN,107,0,0,Check-Out,2015-07-03 00:00:00,NaN
7,Resort Hotel,False,9,2015,July,27,1,0,2,2,0,0,FB,NaN,Direct,Direct,0,0,0,C,C,0,303,0,0,NaN,103,0,1,Check-Out,2015-07-03 00:00:00,NaN
8,Resort Hotel,True,85,2015,July,27,1,0,3,2,0,0,BB,PRT,NaN,NaN,0,0,0,A,A,0,240,0,0,Transient,82,0,1,Canceled,2015-05-06 00:00:00,NaN
9,Resort Hotel,True,75,2015,July,27,1,0,3,2,0,0,HB,NaN,NaN,TA/TO,0,0,0,D,D,0,15,0,0,Transient,105,0,0,Canceled,2015-04-22 00:00:00,NaN

In [18]:
df.shape

(119837, 32)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119837 entries, 0 to 119836
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118005 non-null  object
 1   is_canceled                     118005 non-null  object
 2   lead_time                       119837 non-null  int64
 3   arrival_date_year               119837 non-null  int64
 4   arrival_date_month              118005 non-null  object
 5   arrival_date_week_number        119837 non-null  int64
 6   arrival_date_day_of_month       119837 non-null  int64
 7   stays_in_weekend_nights         119837 non-null  int64
 8   stays_in_week_nights            119837 non-null  int64
 9   adults                          119837 non-null  int64
 10  children                        119837 non-null  int64
 11  babies                          119837 non-null  int64
 12  meal                            118005 non-null  object
 13  country                         64251 non-null   object
 14  market_segment                  59240 non-null   object
 15  distribution_channel            104539 non-null  object
 16  is_repeated_guest               119837 non-null  int64
 17  previous_cancellations          119837 non-null  int64
 18  previous_bookings_not_canceled  119837 non-null  int64
 19  reserved_room_type              78198 non-null   object
 20  assigned_room_type              118005 non-null  object
 21  booking_changes                 119837 non-null  int64
 22  agent                           119837 non-null  int64
 23  company                         119837 non-null  int64
 24  days_in_waiting_list            119837 non-null  int64
 25  customer_type                   92912 non-null   object
 26  adr                             119837 non-null  int64
 27  required_car_parking_spaces     119837 non-null  int64
 28  total_of_special_requests       119837 non-null  int64
 29  reservation_status              118005 non-null  object
 30  reservation_status_date         105152 non-null  object
 31  0                               1722 non-null    object
dtypes: int64(19), object(13)
memory usage: 29.3+ MB

In [20]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

hotel                              1.528743
is_canceled                        1.528743
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 1.528743
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.000000
babies                             0.000000
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    0.000000
agent                              0.000000
company                            0.000000
days_in_waiting_list               0.000000
customer_type                     22.468019
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 1.528743
reservation_status_date           12.254145
0                                 98.563048
dtype: float64

In [21]:
df.isnull().any(axis=1).sum()

119837

In [22]:
df.duplicated().sum()

2545

In [23]:
df.drop('company', axis=1, inplace=True)

In [24]:
#df.dropna(subset=['hotel'], inplace=True)

In [25]:
df.shape

(119837, 31)

In [26]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

hotel                              1.528743
is_canceled                        1.528743
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 1.528743
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.000000
babies                             0.000000
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    0.000000
agent                              0.000000
days_in_waiting_list               0.000000
customer_type                     22.468019
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 1.528743
reservation_status_date           12.254145
0                                 98.563048
dtype: float64

In [27]:
df.drop(['0', '0'], axis=1, inplace=True)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119837 entries, 0 to 119836
Data columns (total 30 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           118005 non-null  object
 1   is_canceled                     118005 non-null  object
 2   lead_time                       119837 non-null  int64
 3   arrival_date_year               119837 non-null  int64
 4   arrival_date_month              118005 non-null  object
 5   arrival_date_week_number        119837 non-null  int64
 6   arrival_date_day_of_month       119837 non-null  int64
 7   stays_in_weekend_nights         119837 non-null  int64
 8   stays_in_week_nights            119837 non-null  int64
 9   adults                          119837 non-null  int64
 10  children                        119837 non-null  int64
 11  babies                          119837 non-null  int64
 12  meal                            118005 non-null  object
 13  country                         64251 non-null   object
 14  market_segment                  59240 non-null   object
 15  distribution_channel            104539 non-null  object
 16  is_repeated_guest               119837 non-null  int64
 17  previous_cancellations          119837 non-null  int64
 18  previous_bookings_not_canceled  119837 non-null  int64
 19  reserved_room_type              78198 non-null   object
 20  assigned_room_type              118005 non-null  object
 21  booking_changes                 119837 non-null  int64
 22  agent                           119837 non-null  int64
 23  days_in_waiting_list            119837 non-null  int64
 24  customer_type                   92912 non-null   object
 25  adr                             119837 non-null  int64
 26  required_car_parking_spaces     119837 non-null  int64
 27  total_of_special_requests       119837 non-null  int64
 28  reservation_status              118005 non-null  object
 29  reservation_status_date         105152 non-null  object
dtypes: int64(18), object(12)
memory usage: 27.4+ MB

In [29]:
porc_nulos = (df.isnull().sum() / df.shape[0]) * 100
porc_nulos

hotel                              1.528743
is_canceled                        1.528743
lead_time                          0.000000
arrival_date_year                  0.000000
arrival_date_month                 1.528743
arrival_date_week_number           0.000000
arrival_date_day_of_month          0.000000
stays_in_weekend_nights            0.000000
stays_in_week_nights               0.000000
adults                             0.000000
children                           0.000000
babies                             0.000000
meal                               1.528743
country                           46.384673
market_segment                    50.566186
distribution_channel              12.765673
is_repeated_guest                  0.000000
previous_cancellations             0.000000
previous_bookings_not_canceled     0.000000
reserved_room_type                34.746364
assigned_room_type                 1.528743
booking_changes                    0.000000
agent                              0.000000
days_in_waiting_list               0.000000
customer_type                     22.468019
adr                                0.000000
required_car_parking_spaces        0.000000
total_of_special_requests          0.000000
reservation_status                 1.528743
reservation_status_date           12.254145
dtype: float64

In [ ]:
#df.drop(columns=['0'], inplace=True)

In [31]:
def estandarizar_fecha(fecha):
    try:
        # Convertir la fecha a formato datetime
        fecha_estandar = pd.to_datetime(fecha, errors='coerce')
        # Retornar la fecha en formato "dd/mm/yyyy"
        return fecha_estandar.strftime("%d/%m/%Y")
    except Exception:
        return np.nan  # Retornar NaN si la conversión falla



# Convertir y estandarizar las fechas en la columna 'reservation_status_date'
df['reservation_status_date'] = df['reservation_status_date'].apply(estandarizar_fecha)

In [32]:
# Columna IS_CANCELED: Cambiamos los valores True y False a Yes y No

df['is_canceled'] = df['is_canceled'].map({False: 'No', True: 'Yes'})
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,No,342,2015,July,27,1,0,0,2,0,0,BB,PRT,NaN,Direct,0,0,0,C,C,3,0,0,Transient,0,0,0,Check-Out,01/07/2015
1,Resort Hotel,No,737,0,July,27,1,0,0,2,0,0,BB,NaN,NaN,Direct,0,0,0,NaN,C,4,0,0,Transient,0,0,0,Check-Out,01/07/2015
2,Resort Hotel,No,7,2015,July,27,1,0,1,1,0,0,BB,GBR,NaN,Direct,0,0,0,A,C,0,0,0,Transient,75,0,0,Check-Out,02/07/2015
3,Resort Hotel,No,13,0,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,304,0,Transient,75,0,0,Check-Out,02/07/2015
4,Resort Hotel,No,14,0,July,0,1,0,2,2,0,0,BB,NaN,Online TA,TA/TO,0,0,0,A,A,0,240,0,Transient,98,0,1,Check-Out,03/07/2015

In [33]:
# Comprobamos los nulos

for columna in df:
    total_filas = len(df)
    num_nulos = df[columna].isna().sum()
    porcentaje_nulos = (num_nulos / total_filas) * 100
    cuenta_valores = df[columna].value_counts()
    porcentaje_valores = (cuenta_valores / total_filas) * 100
    
    # Mostramos resultados
    print(f"\nColumna: {columna.upper()}")
    print(f"Porcentaje de valores nulos: {porcentaje_nulos:.2f}%")
    print("Porcentaje de cada valor único:")
    print(porcentaje_valores)

Columna: HOTEL
Porcentaje de valores nulos: 1.53%
Porcentaje de cada valor único:
City Hotel      65.143487
Resort Hotel    33.327770
Name: hotel, dtype: float64

Columna: IS_CANCELED
Porcentaje de valores nulos: 1.53%
Porcentaje de cada valor único:
No     62.487379
Yes    35.983878
Name: is_canceled, dtype: float64

Columna: LEAD_TIME
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0      6.736651
1      2.879745
2      1.726512
3      1.514557
4      1.431111
         ...
435    0.000834
709    0.000834
424    0.000834
737    0.000834
463    0.000834
Name: lead_time, Length: 479, dtype: float64

Columna: ARRIVAL_DATE_YEAR
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0       46.574931
2016    25.418694
2017    18.248120
2015     9.758255
Name: arrival_date_year, dtype: float64

Columna: ARRIVAL_DATE_MONTH
Porcentaje de valores nulos: 1.53%
Porcentaje de cada valor único:
August       11.474753
July         10.477565
May           9.710690
October       9.165784
April         9.141584
June          9.003062
September     8.626718
December      5.596769
November      5.557549
March         4.911672
February      4.039654
3             3.221876
January       2.969033
2             2.620226
1             1.954321
Name: arrival_date_month, dtype: float64

Columna: ARRIVAL_DATE_WEEK_NUMBER
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     16.831196
33     2.510911
30     2.149587
34     2.139573
32     2.127890
18     2.066974
28     1.988534
21     1.976017
17     1.931791
20     1.928453
29     1.924280
31     1.912598
42     1.893405
41     1.870040
27     1.857523
15     1.839999
35     1.832489
38     1.830820
25     1.820807
23     1.817469
39     1.804952
22     1.771573
24     1.741532
19     1.688126
16     1.688126
13     1.681451
40     1.667265
26     1.657251
43     1.643065
14     1.583818
44     1.574639
8      1.525405
37     1.518730
36     1.510385
7      1.492861
10     1.491192
12     1.464489
11     1.460317
9      1.454476
45     1.340154
53     1.283410
49     1.219156
47     1.199129
48     1.071455
6      1.069786
46     1.063945
4      1.047256
50     1.027229
5      0.981333
3      0.927927
2      0.850322
52     0.827791
1      0.746013
51     0.675084
Name: arrival_date_week_number, dtype: float64

Columna: ARRIVAL_DATE_DAY_OF_MONTH
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
17    3.607400
5     3.551491
15    3.439672
25    3.422983
26    3.392942
12    3.378756
9     3.376253
16    3.357060
2     3.354557
19    3.337033
20    3.334529
18    3.293641
24    3.282792
28    3.249414
8     3.214366
3     3.176815
30    3.173477
6     3.161795
27    3.142602
14    3.136761
4     3.099210
21    3.099210
13    3.087527
23    2.995736
11    2.994067
7     2.992398
22    2.982384
1     2.980715
29    2.972371
10    2.955681
31    1.828317
0     1.628045
Name: arrival_date_day_of_month, dtype: float64

Columna: STAYS_IN_WEEKEND_NIGHTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     44.118261
2     27.621686
1     25.292689
4      1.547101
3      1.049759
6      0.127673
5      0.065923
8      0.050068
7      0.015855
10     0.014186
14     0.010848
16     0.010848
11     0.010848
13     0.010014
17     0.010014
19     0.010014
12     0.009179
18     0.009179
9      0.009179
15     0.006676
Name: stays_in_weekend_nights, dtype: float64

Columna: STAYS_IN_WEEK_NIGHTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
2     27.552425
1     25.074893
3     18.304864
5      9.225865
4      7.935779
0      7.774727
6      1.250031
10     0.864508
7      0.858666
8      0.546576
9      0.192762
15     0.080943
11     0.046730
19     0.044227
20     0.043392
12     0.035048
14     0.029206
16     0.023365
13     0.022531
21     0.018358
22     0.015855
24     0.013351
18     0.013351
23     0.008345
17     0.006676
25     0.005007
30     0.004172
40     0.001669
33     0.000834
42     0.000834
50     0.000834
32     0.000834
26     0.000834
34     0.000834
35     0.000834
41     0.000834
Name: stays_in_week_nights, dtype: float64

Columna: ADULTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
2     67.641880
1     17.362751
3      4.768143
0      1.813296
59     0.863673
54     0.855328
51     0.843646
58     0.838639
50     0.833632
57     0.832798
53     0.821115
56     0.813605
55     0.800254
52     0.781061
4      0.044227
19     0.013351
14     0.010848
15     0.009179
11     0.008345
10     0.007510
18     0.006676
12     0.006676
13     0.005841
16     0.005007
26     0.004172
17     0.002503
5      0.001669
20     0.001669
27     0.001669
6      0.000834
Name: adults, dtype: float64

Columna: CHILDREN
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     95.765081
1      2.334004
2      1.784090
3      0.037551
18     0.013351
14     0.012517
10     0.011683
15     0.008345
11     0.007510
17     0.006676
16     0.006676
13     0.005007
12     0.004172
19     0.003338
Name: children, dtype: float64

Columna: BABIES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     99.159692
1      0.751020
2      0.012517
12     0.012517
16     0.011683
10     0.010848
19     0.009179
18     0.005841
13     0.005841
15     0.005841
11     0.005841
17     0.005007
14     0.003338
9      0.000834
Name: babies, dtype: float64

Columna: MEAL
Porcentaje de valores nulos: 1.53%
Porcentaje de cada valor único:
BB           76.109215
HB           11.873628
SC            8.879561
Undefined     0.957968
FB            0.650884
Name: meal, dtype: float64

Columna: COUNTRY
Porcentaje de valores nulos: 46.38%
Porcentaje de cada valor único:
PRT    21.615194
GBR     5.482447
FRA     4.794012
ESP     3.919491
DEU     3.277786
         ...
LIE     0.000834
NIC     0.000834
GGY     0.000834
FJI     0.000834
UMI     0.000834
Name: country, Length: 163, dtype: float64

Columna: MARKET_SEGMENT
Porcentaje de valores nulos: 50.57%
Porcentaje de cada valor único:
Online TA        23.626259
Offline TA/TO     9.874246
Groups            8.032578
Direct            5.299699
Corporate         2.198820
Complementary     0.302911
Aviation          0.098467
Undefined         0.000834
Name: market_segment, dtype: float64

Columna: DISTRIBUTION_CHANNEL
Porcentaje de valores nulos: 12.77%
Porcentaje de cada valor único:
TA/TO        71.375285
Direct       10.814690
Corporate     4.893313
GDS           0.146866
Undefined     0.004172
Name: distribution_channel, dtype: float64

Columna: IS_REPEATED_GUEST
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0    96.970885
1     3.029115
Name: is_repeated_guest, dtype: float64

Columna: PREVIOUS_CANCELLATIONS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     96.632092
1      3.057486
2      0.063419
3      0.033379
11     0.030875
24     0.026703
13     0.018358
19     0.016689
4      0.016689
14     0.015020
25     0.013351
26     0.013351
5      0.011683
6      0.010014
17     0.008345
12     0.008345
18     0.007510
16     0.005841
10     0.005007
15     0.005007
21     0.000834
Name: previous_cancellations, dtype: float64

Columna: PREVIOUS_BOOKINGS_NOT_CANCELED
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     96.979230
1      1.286748
2      0.483991
3      0.277877
4      0.191093
        ...
47     0.000834
49     0.000834
50     0.000834
51     0.000834
72     0.000834
Name: previous_bookings_not_canceled, Length: 73, dtype: float64

Columna: RESERVED_ROOM_TYPE
Porcentaje de valores nulos: 34.75%
Porcentaje de cada valor único:
A    46.850305
D    10.530137
E     3.624924
F     1.591328
G     1.147392
B     0.622512
C     0.521542
H     0.357152
P     0.005007
L     0.003338
Name: reserved_room_type, dtype: float64

Columna: ASSIGNED_ROOM_TYPE
Porcentaje de valores nulos: 1.53%
Porcentaje de cada valor único:
A    60.679089
D    21.095321
E     6.511345
F     3.129251
G     2.130394
C     1.981024
B     1.804117
H     0.594140
I     0.302911
K     0.232816
P     0.010014
L     0.000834
Name: assigned_room_type, dtype: float64

Columna: BOOKING_CHANGES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     84.878627
1     10.564350
2      3.169305
3      0.773551
4      0.313760
5      0.098467
6      0.052571
7      0.025868
10     0.015020
8      0.014186
17     0.014186
15     0.011683
11     0.011683
12     0.010014
13     0.010014
16     0.009179
14     0.008345
9      0.006676
19     0.005841
18     0.005007
20     0.000834
21     0.000834
Name: booking_changes, dtype: float64

Columna: AGENT
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
9      26.650367
0      15.005382
240    11.612440
1       5.757821
14      3.036625
         ...
285     0.000834
289     0.000834
406     0.000834
265     0.000834
497     0.000834
Name: agent, Length: 334, dtype: float64

Columna: DAYS_IN_WAITING_LIST
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0      97.035139
39      0.174404
58      0.126839
44      0.114322
31      0.092626
         ...
116     0.000834
109     0.000834
37      0.000834
89      0.000834
36      0.000834
Name: days_in_waiting_list, Length: 128, dtype: float64

Columna: CUSTOMER_TYPE
Porcentaje de valores nulos: 22.47%
Porcentaje de cada valor único:
Transient          58.245784
Transient-Party    16.193663
Contract            2.708679
Group               0.383855
Name: customer_type, dtype: float64

Columna: ADR
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
62     3.610738
0      3.163464
90     2.704507
75     2.429133
80     2.364044
         ...
360    0.000834
354    0.000834
377    0.000834
450    0.000834
333    0.000834
Name: adr, Length: 381, dtype: float64

Columna: REQUIRED_CAR_PARKING_SPACES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0    93.811594
1     6.160869
2     0.023365
3     0.002503
8     0.001669
Name: required_car_parking_spaces, dtype: float64

Columna: TOTAL_OF_SPECIAL_REQUESTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0    59.134491
1    27.650892
2    10.815524
3     2.081995
4     0.283719
5     0.033379
Name: total_of_special_requests, dtype: float64

Columna: RESERVATION_STATUS
Porcentaje de valores nulos: 1.53%
Porcentaje de cada valor único:
Check-Out    62.487379
Canceled     34.979180
No-Show       1.004698
Name: reservation_status, dtype: float64

Columna: RESERVATION_STATUS_DATE
Porcentaje de valores nulos: 12.29%
Porcentaje de cada valor único:
21/10/2015    1.028063
06/07/2015    0.556589
25/11/2016    0.543238
01/01/2015    0.532390
18/01/2016    0.432254
                ...
13/03/2015    0.000834
16/05/2015    0.000834
14/06/2015    0.000834
29/03/2015    0.000834
27/02/2015    0.000834
Name: reservation_status_date, Length: 946, dtype: float64

In [34]:
# Hay varias columnas categóricas que siguen teniendo muchos nulos a pesar de haber eliminado los duplicados.
# Creamos una función para imputar los nulos de estas columnas en función de la distribución de las categorías existentes. De esta manera
# no se distorsionan tanto los resultados.


def impute_categorical(df, column):
    # Calculamos las frecuencias de las categorías existentes
    probabilities = df[column].value_counts(normalize=True)
    # Generamos valores aleatorios basados en la distribución de frecuencias
    impute_values = np.random.choice(probabilities.index, size=df[column].isnull().sum(), p=probabilities.values)
    # Rellenamos los valores nulos con los valores aleatorios generados
    df.loc[df[column].isnull(), column] = impute_values

# Obtenemos solo las columnas categóricas
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

# Imputamos los valores nulos solo para las columnas categóricas
for col in categorical_columns:
    impute_categorical(df, col)

In [35]:
# Comprobamos que, efectivamente, todas las columnas categóricas han sido imputadas correctamente y carecen de nulos

for columna in df:
    total_filas = len(df)
    num_nulos = df[columna].isna().sum()
    porcentaje_nulos = (num_nulos / total_filas) * 100
    cuenta_valores = df[columna].value_counts()
    porcentaje_valores = (cuenta_valores / total_filas) * 100
    
    # Mostramos resultados
    print(f"\nColumna: {columna.upper()}")
    print(f"Porcentaje de valores nulos: {porcentaje_nulos:.2f}%")
    print("Porcentaje de cada valor único:")
    print(porcentaje_valores)

Columna: HOTEL
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
City Hotel      66.136502
Resort Hotel    33.863498
Name: hotel, dtype: float64

Columna: IS_CANCELED
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
No     63.482063
Yes    36.517937
Name: is_canceled, dtype: float64

Columna: LEAD_TIME
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0      6.736651
1      2.879745
2      1.726512
3      1.514557
4      1.431111
         ...
435    0.000834
709    0.000834
424    0.000834
737    0.000834
463    0.000834
Name: lead_time, Length: 479, dtype: float64

Columna: ARRIVAL_DATE_YEAR
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0       46.574931
2016    25.418694
2017    18.248120
2015     9.758255
Name: arrival_date_year, dtype: float64

Columna: ARRIVAL_DATE_MONTH
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
August       11.668350
July         10.619425
May           9.860060
October       9.305974
April         9.282609
June          9.144087
September     8.770246
December      5.686057
November      5.643499
March         4.984270
February      4.108915
3             3.265269
January       3.014094
2             2.655273
1             1.991872
Name: arrival_date_month, dtype: float64

Columna: ARRIVAL_DATE_WEEK_NUMBER
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     16.831196
33     2.510911
30     2.149587
34     2.139573
32     2.127890
18     2.066974
28     1.988534
21     1.976017
17     1.931791
20     1.928453
29     1.924280
31     1.912598
42     1.893405
41     1.870040
27     1.857523
15     1.839999
35     1.832489
38     1.830820
25     1.820807
23     1.817469
39     1.804952
22     1.771573
24     1.741532
19     1.688126
16     1.688126
13     1.681451
40     1.667265
26     1.657251
43     1.643065
14     1.583818
44     1.574639
8      1.525405
37     1.518730
36     1.510385
7      1.492861
10     1.491192
12     1.464489
11     1.460317
9      1.454476
45     1.340154
53     1.283410
49     1.219156
47     1.199129
48     1.071455
6      1.069786
46     1.063945
4      1.047256
50     1.027229
5      0.981333
3      0.927927
2      0.850322
52     0.827791
1      0.746013
51     0.675084
Name: arrival_date_week_number, dtype: float64

Columna: ARRIVAL_DATE_DAY_OF_MONTH
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
17    3.607400
5     3.551491
15    3.439672
25    3.422983
26    3.392942
12    3.378756
9     3.376253
16    3.357060
2     3.354557
19    3.337033
20    3.334529
18    3.293641
24    3.282792
28    3.249414
8     3.214366
3     3.176815
30    3.173477
6     3.161795
27    3.142602
14    3.136761
4     3.099210
21    3.099210
13    3.087527
23    2.995736
11    2.994067
7     2.992398
22    2.982384
1     2.980715
29    2.972371
10    2.955681
31    1.828317
0     1.628045
Name: arrival_date_day_of_month, dtype: float64

Columna: STAYS_IN_WEEKEND_NIGHTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     44.118261
2     27.621686
1     25.292689
4      1.547101
3      1.049759
6      0.127673
5      0.065923
8      0.050068
7      0.015855
10     0.014186
14     0.010848
16     0.010848
11     0.010848
13     0.010014
17     0.010014
19     0.010014
12     0.009179
18     0.009179
9      0.009179
15     0.006676
Name: stays_in_weekend_nights, dtype: float64

Columna: STAYS_IN_WEEK_NIGHTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
2     27.552425
1     25.074893
3     18.304864
5      9.225865
4      7.935779
0      7.774727
6      1.250031
10     0.864508
7      0.858666
8      0.546576
9      0.192762
15     0.080943
11     0.046730
19     0.044227
20     0.043392
12     0.035048
14     0.029206
16     0.023365
13     0.022531
21     0.018358
22     0.015855
24     0.013351
18     0.013351
23     0.008345
17     0.006676
25     0.005007
30     0.004172
40     0.001669
33     0.000834
42     0.000834
50     0.000834
32     0.000834
26     0.000834
34     0.000834
35     0.000834
41     0.000834
Name: stays_in_week_nights, dtype: float64

Columna: ADULTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
2     67.641880
1     17.362751
3      4.768143
0      1.813296
59     0.863673
54     0.855328
51     0.843646
58     0.838639
50     0.833632
57     0.832798
53     0.821115
56     0.813605
55     0.800254
52     0.781061
4      0.044227
19     0.013351
14     0.010848
15     0.009179
11     0.008345
10     0.007510
18     0.006676
12     0.006676
13     0.005841
16     0.005007
26     0.004172
17     0.002503
5      0.001669
20     0.001669
27     0.001669
6      0.000834
Name: adults, dtype: float64

Columna: CHILDREN
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     95.765081
1      2.334004
2      1.784090
3      0.037551
18     0.013351
14     0.012517
10     0.011683
15     0.008345
11     0.007510
17     0.006676
16     0.006676
13     0.005007
12     0.004172
19     0.003338
Name: children, dtype: float64

Columna: BABIES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     99.159692
1      0.751020
2      0.012517
12     0.012517
16     0.011683
10     0.010848
19     0.009179
18     0.005841
13     0.005841
15     0.005841
11     0.005841
17     0.005007
14     0.003338
9      0.000834
Name: babies, dtype: float64

Columna: MEAL
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
BB           77.307509
HB           12.048866
SC            9.013076
Undefined     0.970485
FB            0.660063
Name: meal, dtype: float64

Columna: COUNTRY
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
PRT    40.254679
GBR    10.263942
FRA     9.003062
ESP     7.370845
DEU     5.979789
         ...
KNA     0.000834
UMI     0.000834
MDG     0.000834
NIC     0.000834
LIE     0.000834
Name: country, Length: 163, dtype: float64

Columna: MARKET_SEGMENT
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
Online TA        47.920091
Offline TA/TO    19.776864
Groups           16.329681
Direct           10.749602
Corporate         4.399309
Complementary     0.611664
Aviation          0.211955
Undefined         0.000834
Name: market_segment, dtype: float64

Columna: DISTRIBUTION_CHANNEL
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
TA/TO        81.786093
Direct       12.420204
Corporate     5.621803
GDS           0.166893
Undefined     0.005007
Name: distribution_channel, dtype: float64

Columna: IS_REPEATED_GUEST
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0    96.970885
1     3.029115
Name: is_repeated_guest, dtype: float64

Columna: PREVIOUS_CANCELLATIONS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     96.632092
1      3.057486
2      0.063419
3      0.033379
11     0.030875
24     0.026703
13     0.018358
19     0.016689
4      0.016689
14     0.015020
25     0.013351
26     0.013351
5      0.011683
6      0.010014
17     0.008345
12     0.008345
18     0.007510
16     0.005841
10     0.005007
15     0.005007
21     0.000834
Name: previous_cancellations, dtype: float64

Columna: PREVIOUS_BOOKINGS_NOT_CANCELED
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     96.979230
1      1.286748
2      0.483991
3      0.277877
4      0.191093
        ...
47     0.000834
49     0.000834
50     0.000834
51     0.000834
72     0.000834
Name: previous_bookings_not_canceled, Length: 73, dtype: float64

Columna: RESERVED_ROOM_TYPE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
A    71.887647
D    16.012584
E     5.550039
F     2.479201
G     1.758222
B     0.941279
C     0.808598
H     0.551583
P     0.006676
L     0.004172
Name: reserved_room_type, dtype: float64

Columna: ASSIGNED_ROOM_TYPE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
A    61.593665
D    21.437453
E     6.620660
F     3.174312
G     2.167110
C     2.016906
B     1.830820
H     0.602485
I     0.311256
K     0.234485
P     0.010014
L     0.000834
Name: assigned_room_type, dtype: float64

Columna: BOOKING_CHANGES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0     84.878627
1     10.564350
2      3.169305
3      0.773551
4      0.313760
5      0.098467
6      0.052571
7      0.025868
10     0.015020
8      0.014186
17     0.014186
15     0.011683
11     0.011683
12     0.010014
13     0.010014
16     0.009179
14     0.008345
9      0.006676
19     0.005841
18     0.005007
20     0.000834
21     0.000834
Name: booking_changes, dtype: float64

Columna: AGENT
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
9      26.650367
0      15.005382
240    11.612440
1       5.757821
14      3.036625
         ...
285     0.000834
289     0.000834
406     0.000834
265     0.000834
497     0.000834
Name: agent, Length: 334, dtype: float64

Columna: DAYS_IN_WAITING_LIST
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0      97.035139
39      0.174404
58      0.126839
44      0.114322
31      0.092626
         ...
116     0.000834
109     0.000834
37      0.000834
89      0.000834
36      0.000834
Name: days_in_waiting_list, Length: 128, dtype: float64

Columna: CUSTOMER_TYPE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
Transient          75.039429
Transient-Party    20.940945
Contract            3.514774
Group               0.504852
Name: customer_type, dtype: float64

Columna: ADR
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
62     3.610738
0      3.163464
90     2.704507
75     2.429133
80     2.364044
         ...
360    0.000834
354    0.000834
377    0.000834
450    0.000834
333    0.000834
Name: adr, Length: 381, dtype: float64

Columna: REQUIRED_CAR_PARKING_SPACES
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0    93.811594
1     6.160869
2     0.023365
3     0.002503
8     0.001669
Name: required_car_parking_spaces, dtype: float64

Columna: TOTAL_OF_SPECIAL_REQUESTS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
0    59.134491
1    27.650892
2    10.815524
3     2.081995
4     0.283719
5     0.033379
Name: total_of_special_requests, dtype: float64

Columna: RESERVATION_STATUS
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
Check-Out    63.451188
Canceled     35.520749
No-Show       1.028063
Name: reservation_status, dtype: float64

Columna: RESERVATION_STATUS_DATE
Porcentaje de valores nulos: 0.00%
Porcentaje de cada valor único:
21/10/2015    1.155737
06/07/2015    0.628354
25/11/2016    0.612499
01/01/2015    0.598313
18/01/2016    0.488163
                ...
07/04/2015    0.000834
12/02/2015    0.000834
09/02/2015    0.000834
29/01/2015    0.000834
03/04/2015    0.000834
Name: reservation_status_date, Length: 946, dtype: float64

In [ ]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [36]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,No,342,2015,July,27,1,0,0,2,0,0,BB,PRT,Online TA,Direct,0,0,0,C,C,3,0,0,Transient,0,0,0,Check-Out,01/07/2015
1,Resort Hotel,No,737,0,July,27,1,0,0,2,0,0,BB,FRA,Offline TA/TO,Direct,0,0,0,A,C,4,0,0,Transient,0,0,0,Check-Out,01/07/2015
2,Resort Hotel,No,7,2015,July,27,1,0,1,1,0,0,BB,GBR,Offline TA/TO,Direct,0,0,0,A,C,0,0,0,Transient,75,0,0,Check-Out,02/07/2015
3,Resort Hotel,No,13,0,July,27,1,0,1,1,0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,304,0,Transient,75,0,0,Check-Out,02/07/2015
4,Resort Hotel,No,14,0,July,0,1,0,2,2,0,0,BB,SWE,Online TA,TA/TO,0,0,0,A,A,0,240,0,Transient,98,0,1,Check-Out,03/07/2015

In [37]:
# Creamos un diccionario para mapear los nombres de los meses a números
month_mapping = {
    'January': 1, 'February': 2, 'March': 3, 'April': 4,
    'May': 5, 'June': 6, 'July': 7, 'August': 8,
    'September': 9, 'October': 10, 'November': 11, 'December': 12, "1" : 1, "2": 2, "3":3
}

# Cambiamos los valores de la columna 'arrival_date_month'
df['arrival_date_month'] = df['arrival_date_month'].map(month_mapping)

In [39]:
df.sample(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,agent,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
64002,City Hotel,Yes,307,2017,3,11,15,2,5,2,0,0,BB,DEU,Online TA,TA/TO,0,0,0,A,A,0,9,0,Transient,77,0,0,Canceled,17/05/2016
74589,City Hotel,Yes,281,2015,7,30,25,2,2,2,0,0,BB,PRT,Groups,TA/TO,0,0,0,D,A,0,1,0,Transient-Party,62,0,0,Canceled,06/07/2015
112090,City Hotel,No,95,2017,6,23,4,2,2,2,1,0,BB,ROU,Offline TA/TO,TA/TO,0,0,0,A,A,0,9,0,Transient,162,0,0,Check-Out,06/08/2017
77863,City Hotel,No,221,2015,10,42,17,2,1,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,1,3,0,Transient-Party,65,0,1,Check-Out,20/10/2015
109054,City Hotel,No,135,0,4,17,24,1,2,2,0,0,BB,PRT,Direct,TA/TO,0,0,0,C,A,0,14,0,Contract,99,0,0,Check-Out,27/04/2017
4356,Resort Hotel,Yes,46,0,3,11,11,0,1,1,0,0,BB,PRT,Groups,TA/TO,0,0,0,D,A,0,375,0,Transient-Party,25,0,0,Canceled,10/03/2016
115018,City Hotel,No,217,0,7,0,16,2,1,2,0,0,BB,NLD,Online TA,TA/TO,0,0,0,A,A,0,9,0,Transient,107,0,2,Check-Out,19/07/2017
59765,City Hotel,Yes,42,2016,11,46,11,1,2,2,0,0,BB,USA,Online TA,Direct,0,0,0,D,A,0,9,0,Transient-Party,121,0,4,Canceled,19/10/2016
49131,City Hotel,Yes,44,0,4,16,13,0,4,1,0,0,SC,GBR,Online TA,TA/TO,0,0,0,A,A,2,9,0,Transient,116,0,0,Canceled,09/04/2016
93032,City Hotel,No,6,2017,7,29,18,0,2,1,0,0,BB,PRT,Corporate,Corporate,1,1,6,A,A,0,0,0,Transient,65,0,1,Check-Out,20/07/2017
14182,Resort Hotel,No,197,2016,8,0,12,2,3,2,0,0,BB,ESP,Online TA,TA/TO,0,0,1,D,D,0,240,0,Transient,172,1,2,Check-Out,30/07/2015
117747,City Hotel,No,240,2017,8,35,28,1,1,2,0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,D,1,9,0,Transient,135,0,3,Check-Out,30/08/2017
48673,City Hotel,Yes,72,2016,4,0,3,2,1,50,0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,9,0,Transient,76,0,0,Canceled,22/01/2016
26415,Resort Hotel,No,188,2016,7,31,27,2,5,2,0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,E,E,0,40,0,Contract,113,0,1,Check-Out,03/08/2016
27419,Resort Hotel,No,0,2016,8,36,31,0,1,2,0,0,BB,PRT,Groups,Direct,0,0,0,D,E,0,0,0,Transient,139,0,0,Check-Out,01/09/2016
46212,City Hotel,No,12,0,1,1,2,2,2,2,0,0,BB,BRA,Online TA,TA/TO,0,0,0,F,A,0,9,0,Transient,92,0,1,Check-Out,06/01/2016
71265,City Hotel,Yes,240,0,7,30,23,2,1,2,0,0,BB,PRT,Groups,TA/TO,0,0,0,A,A,0,0,0,Transient,110,0,0,Canceled,05/04/2016
66304,City Hotel,Yes,26,2017,4,17,28,2,2,2,0,0,SC,PRT,Online TA,TA/TO,0,0,0,A,A,0,9,0,Transient,128,0,1,Canceled,03/04/2017
31689,Resort Hotel,No,325,2016,12,53,31,2,5,2,0,0,BB,PRT,Offline TA/TO,TA/TO,0,0,0,A,A,0,8,0,Transient,38,0,0,Check-Out,10/10/2015
49379,City Hotel,Yes,275,2016,4,17,17,2,0,2,0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,A,0,12,0,Transient,110,0,0,Canceled,04/08/2015

In [40]:
df.isnull().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
reservation_status_date           0
dtype: int64

In [41]:
df.to_csv("hotel2.csv")